:root {
    --mainColr: #8B00FF;
    --drkTrm: #3e005d;
    --lghtTrm: #b657ff;
    --btnTxt: rgba(0, 0, 0, 0.581);
}

.navbar {
    background-color: #303030;
    background-image: linear-gradient(to bottom, var(--mainColr), var(--drkTrm));
    border-bottom: 1px solid #222222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand img {
    height: 35px;
    width: auto;
}

#myliststyle {
    padding: 10px;
    background-color: var(--lghtTrm);
}

#myliststyle:hover {
    cursor: pointer;
}

.list-style {
    background-color: transparent;
    border: none;
    padding-bottom: none;
}

.list-style:hover {
    cursor: pointer;
    background-color: transparent;
}

body {
    background: radial-gradient(ellipse at top left, var(--mainColr) 45%, var(--drkTrm));
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 5px;
    background: linear-gradient(var(--btnTxt), rgba(255, 255, 255, 0));
    color: white;
    font-family: 'Arial', sans-serif;
    border-radius: 0;
}

.jumbotron img {
    height: 100px;
    width: auto;
}

.jumboSlogan {
    color: var(--btnTxt)
}

.custom-font {
    font-family: "Copperplate Gothic", sans-serif !important;
}

#topicSelect {
    width: 90%;
}

.form-head {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.custom-select,
#topicSelect {
    background-color: transparent;
    color: var(--plsTxt);
    transition: background-color 0.3s;
    border-color: black;
}

.topic-row select {
    background-color: transparent;
    border-color: black;
    color: var(--plsTxt);
}

.form-control:focus {
    background-color: transparent;
}

.topic-row select:focus,
.topic-row select:valid {
    background-color: transparent !important;
}

.plus-button {
    background: var(--lghtTrm);
    background-image: linear-gradient(to bottom, var(--lghtTrm), var(--drkTrm));
    transition: background 0.3s;
    border: none;
    color: var(--btnTxt);
}

.plus-button:hover {
    background: var(--drkTrm);
    background-image: linear-gradient(to bottom, var(--drkTrm), var(--lghtTrm));
    color: var(--btnTxt);
}

.fa-minus {
    background: var(--drkTrm);
    background-image: linear-gradient(to bottom, red, rgb(139, 0, 37));
    transition: background 0.3s;
    border: none;
    color: var(--btnTxt);
}

.fa-minus:hover {
    background: var(--drkTrm);
    background-image: linear-gradient(to bottom, rgb(139, 0, 37), red);
    color: var(--btnTxt);
}

.search-button {
    background-color: var(--lghtTrm);
    background-image: linear-gradient(to bottom, var(--lghtTrm), var(--drkTrm));
    transition: background-color 0.3s;
    border: none;
    color: var(--btnTxt);
}

.search-button:hover {
    background-color: var(--drkTrm);
    background-image: linear-gradient(to bottom, var(--drkTrm), var(--lghtTrm));
    color: var(--btnTxt);
}

.clear-button {
    background-color: transparent;
    color: var(--btnTxt);
    border: none;
    transition: color 0.3s;
}

.clear-button:hover {
    color: var(--drkTrm);
}

.modal {
    overflow: auto;
    margin-top: 0px;
}

.modal-title {
    margin: 0 auto;
    text-align: center;
}

#bigTextModal {
    margin-left: 45px;
}

.image-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.image-container img {
    display: none;
    max-width: 100%;
    height: auto;
}

img.active {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.24);
    color: var(--btnTxt);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.custom-container {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.193);
    border: 1px solid black;
    margin-top: 32px;
    margin-bottom: 30px;
    padding: 20px;
    overflow-y: auto;
}

.topicsForm {
    margin-top: 32px;
}

.navbar-brand:hover {
    text-shadow: 0 0 10px white;
}

.custom-wrapper {
    margin-top: 10px;
}

.custom-row {
    display: flex;
    justify-content: space-between;
}

.small-cont {
    width: calc(50% - 5px);
    height: 100px;
    margin-bottom: 10px;
    background-color: transparent;
}

.custom-left-container {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-left-container h3 {
    color: #2b0025bb;
    text-align: center;
    justify-content: center;
}

.custom-left-container:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(86, 0, 129, 0.491), rgba(0, 0, 0, 0));
}

.custom-right-container {
    color: #2b0025bb;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-right-container h3,
.custom-right-container p {
    text-align: center;
}

.custom-right-container p {
    margin-top: none;
}

.custom-right-container:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(86, 0, 129, 0.491), rgba(0, 0, 0, 0));
}


.custom-form {
    height: 500px;
    /* Adjust the height as needed */
    background-color: lightgray;
    padding: 10px;
}